// Define variables for your color scheme

// For example:
$red: #FFCDD2;
$blue: #112028;
$light-blue: #F3FCFF;
$brown: #795548;
$yellow: #FFC65A;
$orange: #FF9800;
$green: #96bb6a;
$gray: #0E0000;
$light-gray: #F4F4F4;
