// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

/* Headings */
h2 {
  font-size: 30px;
  margin: 0 0 16px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  margin: 0 0 16px;
}

h4 {
  font-size: 20px;
  margin: 0 0 16px;
}

h5 {
  font-size: 18px;
  margin: 0 0 16px;
}

h6 {
  font-size: 16px;
  margin: 0 0 16px;
}

p {
  font-size: 14px;
  margin: 16px 0px;
}
