// Grid Layout
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 3 / 5; }
.div3 { grid-area: 3 / 1 / 5 / 4; }
.div4 { grid-area: 3 / 4 / 5 / 5; }
.div5 { grid-area: 5 / 1 / 7 / 2; }
.div6 { grid-area: 5 / 2 / 7 / 5; }

// Image Styles
.img-fit-right, .img-fit-left {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
  margin: 20px 0;
}

.img-fit-right {
  max-height: 350px;
}



.img-fit-down-left {
  width: 50%;
  height: auto;
  object-fit: cover;
  padding: 10px;
  margin: 20px 0;
  border-radius: 15%;
}

// Font and Text
.landing {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

// Banner
.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative; // or static if no additional positioning needed
}
.banner-image {
  height: 100px; // Adjust to control the logo size
  min-height: 50px;
  width: auto;
}
.banner-container {
  width: 100%;
  background-color: #f8f9fa;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;     /* Vertically center content */
  min-height: 100vh;       /* Full viewport height to ensure vertical centering */
}

.concept {
  width: 100%;
  max-width: 1200px; /* Adjust max-width as needed */
  padding: 20px;     /* Optional padding for spacing */
}

.content-border {
  padding: 20px; /* Optional padding for spacing inside borders */
  border: 1px solid #ddd; /* Optional border styling */
}

.bg-content {
  position: relative;
}

.img-fit-left,
.img-fit-right,
.img-fit-down-left {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Ensure the images fit well within their containers */
.bg-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
