
.health-data {
  color: #96bb6a;
  font-size: 24px;
  font-weight: bold;
}

.health-paragraph{
  padding: 15px;
  padding-bottom: 10px;
  background-color: #d2ebf3;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  color: #333333;
  font-size: 20px;
}

.health-button{

  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: solid;
  border-radius: 5px;
  color: #5b44ee;
  border-color: #A093F5;
  background-color: transparent;
}

.add-track-btn{

  padding: 5px 10px 5px 10px;
  border: solid;
  border-radius: 5px;
  border-color: #A093F5;
  color: #A093F5;
  background-color: transparent;
}

.add-track-btn:hover {
  // background-color: #FFC65A;
  transition: 0.3s;
  border: solid;
}

.last-recorded-entry {
  background-color: #d2ebf3;
  padding: 10px 15px 1px 15px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

.icon-dog-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-dog-card img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.health-data {
  flex: 1;
}

.health-card {
  background-image: url('/icon_sub/background_card.png');
}
