.banner-block {
  max-width: 800px;
  background-color: rgba(172, 156, 141, 0.6)
  !important;
  top: 25%;
  padding: 15px 15px 30px 10%;
  position: absolute;
  color: white;
  line-height: 1.9;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

.banner{
  background-image: url('bg_00.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 766px;
  overflow: hidden;
  box-sizing: border-box;
}
