
.medical-img img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  display: block; /* Remove any space below the image */
  top: 0;
  left: 0;
}
