<div class="Banner">
  <%= image_tag 'logo/logo02.png', alt: 'Banner Image'%>
</div>
<div class="container">
  <div class="dogs-list">
    <% @dogs.each do |dog| %>
      <%= render 'dogs/dog_card', dog: dog %>
    <% end %>
  </div>
  <div class="img-front-detail">
    <%= image_tag 'tasks_img/task_title.png', alt: 'Image'%>
  </div>
  <div class="calendar">
    <%= render 'tasks/index' %>
  </div>
</div>
<br>
