<div class="container mt-5">
  <h2> tasks </h2>
  <div class="tasks">
    <% @tasks.each do |task| %>
      <div class="task">
        <%= form_with url: toggle_status_task_path(task), method: :patch, remote: true do |f| %>
          <%= f.check_box :status, checked: task.status, onclick: 'this.form.submit();' %>
        <% end %>
        <%= task.name %>
      </div>
    <% end %>
  </div>
  <%= render 'tasks/form' %>
</div>
