<div class="due-date">
  <p>Due date:</p><p><%= task.end_time %></p>
</div>
<div class="assignee">
  <p>Assignee:</p><p><%= task.user.name %></p>
</div>
<div class="dog">
  <p>Dog:</p><p><%= task.dog.name %></p>
</div>
<div class="description">
  <p>Description:</p><p><%= task.description %></p>
</div>
