<div class="d-flex justify-content-center align-items-center vh-80">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="banner mb-4">
          <%= image_tag 'other/family_sett_banner.svg', alt: 'Banner Image' %>
        </div>
        <div class="text mb-4">
          <h4>WELCOME TO CROK'</h4>
          <p>YOUR BEST'S FRIEND MANAGER</p>
          <p>WE'RE THRILLED TO HAVE YOU JOIN OUR COMMUNITY OF DEDICATED PET LOVERS WHO WANT THE BEST FOR THEIR FURRY FRIENDS.</p>
          <p>NOW THAT YOU'RE REGISTERED, YOU'RE JUST ONE STEP AWAY FROM STARTING YOUR PERSONALIZED PET NUTRITION JOURNEY.</p>
          <h4>TO GET STARTED,</h4>
          <h4>PLEASE ADD YOUR FIRST PET'S DETAILS.</h4>
        </div>
        <div>
          <%= link_to "Add my dog", new_dog_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>
