<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      You have been invited to join the site!
      your account is <%= @invitation.recipient_email %> <br>
    </p>
    <p>
      To login to the site, just follow this link
      Please click the link below to accept the invitation:
    </p>
    <p>
      link_to 'Accept Invitation', accept_invitation_url(@invitation)
      <%= new_user_registration_url(invitation_token: @invitation_token) %>
    </p>

    <p>Thank you for joining</p>
  </body>
