<footer class="footer">
  <%# fixed-bottom %>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="mb-2 me-4">
      <a href="terms" class="text-decoration-none">Terms of Use</a>
    </div>
    <div class="mb-2 me-4">
      <span>Crok Global Services Limited </span>
      <span> © 2024 LuxeHaven, Inc.</span>
    </div>
    <div class="mb-2 me-4">
      <span>Japan-日本 | Currency: ¥</span>
    </div>
  </div>
</footer>
