<div class="banner-container d-flex justify-content-between align-items-center">
  <%= image_tag "banner_icn.svg", alt: "Crok Logo", class: "banner-image" %>
  <div class="log-button-container">
    <%= render 'shared/logbtn' %>
  </div>
</div>
