<div>
  <% if health_tracks.empty? %>
    <p style="text-align:center">No health information added</p>
  <% else %>
    <h4 class="text-center">Fitness Score Over the Last 30 Days</h4>
    <% if !HealthTrack.has_data?(dog.breed) %>
      <p>Comparison data not available for <%= dog.name %>'s breed (<%= dog.breed %>)</p>
    <% else %>
      <%# <%= HealthTrack.score_hash(dog) %>
      <%= line_chart(HealthTrack.score_hash(dog)) %>
    <% end %>
  <% end %>
</div>
