<div class="container col-6">
  <h1>Health Tracker</h2>
  <% if health_tracks.empty? %>
    <p>No health information added</p>
  <% else %>
    <% @health_tracks.each do |track| %>
      <h3><%= track.date %></h3>
      <p><%= track.bcs %></p>
      <p><%= track.height %></p>
      <p><%= track.weight %></p>
    <% end %>
  <% end %>
</div>
