<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 centered-div">
      <div class="dog-info">
        <%= render 'dogs/dogs_carousel' %>
      </div>

       <%= render 'food/form' %>

      <%# <div class="image-carousel-wrapper">
        <ul class="image-carousel">
          <li><img src="silver02.svg" alt="01"></li>
          <li><img src="gold00.svg" alt="02"></li>
          <li><img src="silver01.svg" alt="03"></li>
          <li><img src="bronze00.svg" alt="04"></li>
          <li><img src="gold01.svg" alt="05"></li>
          <li><img src="bronze01.svg" alt="06"></li>
          <li><img src="silver02.svg" alt="07"></li>
          <li><img src="gold00.svg" alt="08"></li>
          <li><img src="silver01.svg" alt="09"></li>
          <li><img src="bronze00.svg" alt="010"></li>
          <li><img src="gold01.svg" alt="011"></li>
          <li><img src="bronze01.svg" alt="012"></li>
        </ul>
      </div> %>
      <div>
        <%= render 'tasks/index' %>
      </div>
    </div>
  </div>
</div>
<br>
<%= render 'shared/bottom_nav' %>
