<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 centered-div">
      <div>
        <h1>Responsive Centered Content</h1>
        <p>This content is centered on all screen sizes.</p>
        <button type="button" class="btn btn-primary">Click Me</button>
      </div>

      <div>
        <%= render 'tasks/index' %>
      </div>
    </div>
  </div>
</div>
