
.button__icon {
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  position: 50% 50%;
  object-fit: contain;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding: 2px 1.5rem 2px;
  padding-left: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.button:hover .button-decor {
  transform: translate(0);
}
