/* From Uiverse.io by Creatlydev */
.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0,0,0,.05);
  background-color: #fff;
  color: #121212;
  border: none;
  cursor: pointer;
}

.button-decor {
  position: absolute;
  inset: 0;
  background-color: var(--clr);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;
}

.button-content {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.button__icon {
  width: 48px;
  height: 40px;
  background-color: var(--clr);
  display: grid;
  place-items: center;
}

.button__text {
  display: inline-block;
  transition: color .2s;
  padding: 2px 1.5rem 2px;
  padding-left: .75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button-decor {
  transform: translate(0);
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between buttons */
  margin-top: 20px;
}

.home-buttons .btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Set a fixed width for the buttons */
  height: 100px; /* Set a fixed height for the buttons */
  background-color: #f8f9fa; /* Light background for buttons */
  border-radius: 50%; /* Rounded corners */
  padding: 10px;
}

.home-buttons .btn div img {
  max-width: 80%; /* Adjusts the image size relative to the container */
  max-height: 80%; /* Ensures the image fits within the container */
  display: block;
  margin: auto; /* Centers the image inside the div */
}
