.dog-info {
  background-color: #96C9F4;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .dog-img {
    position: relative;
  }
  .dog-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid;
    border-color: #B99470;
    border-width: 5px;
    object-fit: cover;
    object-position: center;
  }
  .dog-score {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid;
    border-color: #E76F51;
    border-width: 5px;
    background-color: antiquewhite;
    p {
      padding-top: 20px;
      padding-left: 10px;
      margin-bottom: 8px;
    }
    h4 {
      padding-left: 20px;
    }
  }
  .dog-name {
    position: absolute;
    text-shadow: white 3px 2px 8px;
    top: 20px;
    left: 160px;
    font-size: 18px;
  }
  .medical-record-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid;
    border-color: #3C3D37;
    border-width: 2px;
    background-color: #E76F51;
    position: absolute;
    bottom: 70px;
    left: -33px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .family-showpage-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid;
    border-color: #3C3D37;
    border-width: 2px;
    background-color: #E76F51;
    position: absolute;
    bottom: 3px;
    left: 11px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
