.dog-card-wrap {
  margin: 6px 0;
}

.dog-card {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 40px;
  img {
    height: 100%;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: solid;
    border-color: ;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .dog-information {
    padding: 16px;
  }
}
