.dog-info {
  background-color: #ffc65a;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .dog-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dog-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid 5px #795548;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .dog-name {
    font-size: 30px;
    font-family: Montserrat;
    color: #112028;
    top: 10px;
    z-index: 1;
  }
  // .family-showpage-link {
  //   position: absolute;
  //   bottom: -30px;
  //   right: -30px;
  //   width: 120px;
  //   height: 120px;
  //   border-radius: 50%;
  //   border: solid 5px #795548;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   background-color: #E76F51; // Adjust color if needed
  // }
  .medical-record-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #3C3D37;
    background-color: #E76F51;
    position: absolute;
    bottom: 70px;
    left: -33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .dog-health-track {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #3C3D37;
    background-color: #E76F51;
    position: absolute;
    bottom: 3px;
    left: 11px;
    font-size: 25px;
  }
}

.dog-new {
  background-image: url('add_dog_banner_lowa.svg');
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Make sure the image covers the entire screen */
  background-attachment: fixed; /* Optional: Make background image fixed with respect to viewport */
  width: 100vw; /* Ensure the element takes the full viewport width */
  height: 100vh; /* Ensure the element takes the full viewport height */
}
