.dogs-list {
  margin: 8px;
  h2 {
    color: #5b689e
  }
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 6px;
}
.dog-card-wrap a {
  text-decoration: none;
}
.dog-card {
  margin: 12px 0;
  overflow: hidden;
  height: 80px;
  width: 100%;
  border: solid 2px #d2daff;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  border-radius: 40px;
  .dog-info-left {
    // display: flex;
    // align-items: center;
    height: 100%;
  }
  .dog-feed-walk {
    display: flex;
    align-items: center;
    .walking-status {
      margin-right: 16px;
    }
    span {
      font-size: 14px;
    }
  }
  .dog-info-right {
    margin-right: 16px;
    align-items: center;
    text-align: right;
    .name-health {
      display: flex;
      justify-content: space-between;
    }
  }
  // .dog-infos {
  //   display: flex;
  //   justify-content: space-between;
  // }
  .name-health {
    align-items: center;
    p {
      margin: 0 8px 0 0;
    }
  }

  img {
    height: 100%;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 3px;
  }
  .dog-information {
    padding: 6px 16px;
  }

  .score {
    font-size: 24px;
    font-weight: bold;
  }
}
