

// Auth button container styles
.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px; // Adjust space between buttons
}

// Auth button item styles
.auth-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 160px;
  min-width: 100px; // Adjust the size of the icons as needed
  height: auto;
}

.navbar-container {
  width: 100%;
  padding: 10px;
}

.log-button-container {
  display: flex;
  justify-content: flex-end;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);
}

.button-icon {
  margin: 0px 25px 20px 25px;
}

.btn-nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.avatar {
  border-radius: 50%;
}
