.tasks {
  font-family: Montserrat;
  background-color: #FFC65A;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.default-tasks {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  text-align: center;
  margin-bottom: 16px;
  p {
    font-size: 12px;
    margin: 0 auto;
  }
  .toilet {
    border: solid;
    border-radius: 5px;
    border-color: #795548;
    background-color: #FFF5E4;
    color: #4d352d;
    width: 25%;
    padding: 3px;
  }
  .walk {
    border: solid;
    border-radius: 5px;
    border-color: #795548;
    background-color: #FFF5E4;
    color: #4d352d;
    width: 25%;
    padding: 3px;
  }
  .feed {
    border: solid;
    border-radius: 5px;
    border-color: #795548;
    background-color: #FFF5E4;
    color: #4d352d;
    width: 25%;
    padding: 3px;
  }
}
.task {
  font-family: Montserrat;
  border: solid;
  border-color:#795548;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 6px;
  width: 100%;
  .task-header {
    display: flex;
  }
  .task-header p {
    margin: 0px;
    padding-left: 8px;
    font-size: 20px;
  }
  h4 {
    margin: 0px;
  }
  .due-date {
    padding: 3px;
    display: flex;
    justify-content: space-between;
  }
  .due-date p {
    margin: 0px;
  }
  .assignee {
    padding: 3px;
  }
  .comments {
    padding: 3px;
  }
  .comment {
    padding-left: 6px;
  }
  .comment .content {
    font-size: 16px;
    margin: 2px;
  }
  .comment .poster {
    font-size: 10px;
    margin: 2px;
    color: #795548;
  }
}
.task-form-wrap {
  padding: 6px;
  text-align: center;
}
.task-done {
  padding-bottom: 16px;
  h4 {

    text-align: center;
  }
}
